@model IEnumerable<Banco.MVC.ViewModel.ContaFisicaViewModel>

@{
    ViewData["Title"] = "Lista de Contas Fisicas";
}

<h1>@ViewData["Title"]</h1>

<p supress-by-claim-name="ContaFisica" supress-by-claim-value="Adicionar">
    <a class="btn btn-info" asp-action="Create">Nova Conta</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayNameFor(model => model.CPF)
            </td>
            <td>
                    @Html.DisplayNameFor(model => model.DataCriacao)
            </td>
            
            <td class="text-right">
                <a class="btn btn-warning" asp-controller="ContaFisica" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam>Detalhes</a>              
                <a class="btn btn-danger" supress-by-claim-name="ContaFisica" supress-by-claim-value="Excluir"  asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
